@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme{
    --font--display: "poppins", sans-serif;
    --breakpoint-3xl: 1920px;
    --color--primary: #875cf5;
}

@layer base {
    html{
        font-family: var(--font--display);
    }
    body {
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

.input-box{
    @apply flex justify-between w-full gap-3 px-4 py-3 mb-4 text-sm text-black border rounded outline-none bg-slate-100 border-slate-200;
}

.btn-primary{
    @apply w-full text-sm shadow-lg shadow-cyan-900 font-medium text-white cursor-pointer bg-cyan-700 p-[10px] rounded-md my-1 hover:bg-cyan-600 hover:text-white;
}

.card{
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.card-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-cyan-900 bg-gray-50 hover:bg-cyan-100 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
}

.add-btn{
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-cyan-600 whitespace-nowrap bg-purple-50 border border-cyan-100 rounded-lg px-4 py-2 cursor-pointer;
}

.add-btn-fill{
    @apply text-white bg-cyan-700
}